<section id="searchUi">
  <form [formGroup]="form">
    <section class="row">
      <mat-form-field class="col-12 col-sm-3 mr-2">
        <input formControlName="searchTerm" matInput placeholder="search">
      </mat-form-field>
      <aws-copy-to-clipboard [searchTerm]="form.get('searchTerm').value" [type]="this.type"></aws-copy-to-clipboard>
    </section>
    <section class="row">
      <span class="mr-1">Sort by: </span>
      <mat-radio-group formControlName="sortType">
        <mat-radio-button class="mr-1" value="site">
          Site
        </mat-radio-button>
        <mat-radio-button class="mr-1" value="title">
          Titel
        </mat-radio-button>
        <mat-radio-button class="mr-1" value="releaseDesc">
          Release Date Descending
        </mat-radio-button>
        <mat-radio-button class="mr-1" value="releaseAsc">
          Release Date Ascending
        </mat-radio-button>
      </mat-radio-group>
    </section>
  </form>
</section>

<section id="results">
  <aws-scene-list *ngIf="type ==='scene'" [scenes]="data$|async"></aws-scene-list>
  <aws-dvd-list *ngIf="type ==='dvd'" [scenes$]="data$" [sorting$]="form.get('sortType').valueChanges"></aws-dvd-list>
</section>
