<div class="container">

<div class="row">
  <mat-button-toggle-group (change)="toggle = $event.value" [value]="toggle">
    <mat-button-toggle value="scene">
      Search
    </mat-button-toggle>
    <mat-button-toggle value="stats">
      Statistics
    </mat-button-toggle>
  </mat-button-toggle-group>
  <a href="https://twitter.com/intent/tweet?text=@korialstraszbob " target="_blank" class="tweet"> Feedback? Tweet @me</a>
</div>

<aws-scene-overview *ngIf="toggle === 'scene'" [searchTerm]="searchTermScene"></aws-scene-overview>
<aws-statistic-overview *ngIf="toggle === 'stats'" [searchTerm]="searchTermStats"></aws-statistic-overview>
</div>
