<div class="row scene" (click)="showDetails = !showDetails">
  <div class="col-6 col-sm-3 overflow-hidden">
    <p>{{scene.producer}}</p>
    <p><small>{{scene.series}}</small></p>
  </div>
  <div class="col-6 col-sm-5">
    <p>{{scene.title}}</p>
  </div>
  <div class="col-6 col-sm-2">
    <p>{{scene.playtime}}</p>
  </div>
  <div class="col-6 col-sm-2">
    <p *ngFor="let link of scene.links"><a [href]="link" target="_blank">Buy here</a></p>
  </div>
</div>
<div class="row border-info border details" *ngIf="showDetails">
  <div class="col-4">
    <p><b>Alternative Titels</b></p>
    <p *ngFor="let alt of scene.altTitles">{{alt}}</p>
  </div>
  <div class="col-4">
    <p><b>Partners</b></p>
    <p *ngFor="let partner of scene.partners">{{partner}}</p>
  </div>
  <div class="col-4">
    <p><b>Release Date</b></p>
    <p>{{scene.release | moment}}</p>
  </div>
  <div class="col-12">
    <p><b>Tags: </b>
    <span >{{scene.tags.join(" | ")}} </span></p>
  </div>
</div>



