<div class="row">
  <p class="mr-1">Total Playtime: {{statistic.totalPlaytime|durationPipe}} in {{count}} Scenes </p>
  <div>
    <mat-checkbox class="example-margin" checked="true" (change)="calcDurationAndSceneCount($event)">Exclude Behind
      the scenes
    </mat-checkbox>
  </div>
</div>


<div class="row">
  <div class="col-3">
    <p><b>partners by count</b></p>
    <ol>
      <li *ngFor="let partner of statistic.partners">{{partner.key}} ({{partner.count}})</li>
    </ol>
  </div>
  <div class="col-3">
    <p><b>partners by playtime</b></p>
    <ol>
      <li *ngFor="let partner of statistic.partnersDuration">{{partner.key}} ({{partner.duration|durationPipe}})</li>
    </ol>
  </div>
  <div class="col-3">
    <p><b>sites by count</b></p>
    <ol>
      <li *ngFor="let site of statistic.sites ">{{site.key}} ({{site.count}})</li>
    </ol>
  </div>
  <div class="col-3">
    <p><b>sites by count</b></p>
    <ol>
      <li *ngFor="let site of statistic.sitesDuration ">{{site.key}} ({{site.duration|durationPipe}})</li>
    </ol>
  </div>
</div>
