<form [formGroup]="form">
  <div class="row">
    <p class="col-12 col-sm-4">Total Playtime: {{(statistic$|async).totalPlaytime|duration}}
      in {{(statistic$|async).count}} Scenes </p>
    <div>
      <mat-checkbox formControlName="excludeBtsNonSex">Exclude Behind
        the scenes & Non Sex
      </mat-checkbox>
    </div>
  </div>
  <div class="row">
    <mat-form-field class="col-12 col-sm-3">
      <input formControlName="searchTerm" matInput placeholder="filter">
    </mat-form-field>
    <aws-copy-to-clipboard [searchTerm]="form.get('searchTerm').value +'|'+ form.get('searchType').value" class="center"
                           type="stats"></aws-copy-to-clipboard>
  </div>
  <div class="row">
    <span class="mr-1 col-1">Filter by: </span>
    <mat-radio-group class="col-3" formControlName="searchType">
      <mat-radio-button class="mr-1" value="partner">
        Partner
      </mat-radio-button>
      <mat-radio-button class="mr-1" value="site">
        Site
      </mat-radio-button>
    </mat-radio-group>
  </div>
</form>

<div class="row">
  <div class="col-6 col-sm-3">
    <p><b>partners by count</b></p>
    <ol>
      <li *ngFor="let partner of (statistic$|async).partners">{{partner.key}} ({{partner.value}})</li>
    </ol>
  </div>
  <div class="col-6 col-sm-3">
    <p><b>partners by playtime</b></p>
    <ol>
      <li *ngFor="let partner of (statistic$|async).partnersDuration">{{partner.key}} ({{partner.value|duration}}
        )
      </li>
    </ol>
  </div>
  <div class="col-6 col-sm-3">
    <p><b>sites by count</b></p>
    <ol>
      <li *ngFor="let site of (statistic$|async).sites ">{{site.key}} ({{site.value}})</li>
    </ol>
  </div>
  <div class="col-6 col-sm-3">
    <p><b>sites by playtime</b></p>
    <ol>
      <li *ngFor="let site of (statistic$|async).sitesDuration ">{{site.key}} ({{site.value|duration}})</li>
    </ol>
  </div>
  <div class="col-12">
    <p><b>tags</b></p>
    <span *ngFor="let tags of (statistic$|async).tags " class="tags">{{tags.key}} ({{tags.value}})</span>
  </div>
</div>
